#!/usr/bin/env bash

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"
fi


# Without this, typing "jupyter notebook" in shell won't work
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/home/lsys/miniconda3/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/home/lsys/miniconda3/etc/profile.d/conda.sh" ]; then
        . "/home/lsys/miniconda3/etc/profile.d/conda.sh"
    else
        export PATH="/home/lsys/miniconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<