#!/usr/bin/env bash

# Create a new directory and enter it
function mkdircd() {
	mkdir -p "$@" && cd "$_";
}

function touchedit() {
	touch "$@" && subl "$_";
}


# cd to root directory of a Git repo, if in a Git repo
function go-up-to-git-root {
  # > /dev/null 2>&1 discards both stdout and stderr of the git command 
  # to the null device (/dev/null)
  if ! git rev-parse --show-toplevel > /dev/null 2>&1; then
    echo "Error: Not inside a Git repository"
    return 1
  fi
  cd $(git rev-parse --show-toplevel)
}


# Determine size of a file or total size of a directory and sort descending
function fs() {
  # Check if `du` supports the `-b` (bytes) option. If it does, the arg variable 
  # is set to -sbh (show sizes in human-readable format with byte suffixes). 
  # Otherwise, arg is set to -sh (show sizes in human-readable format with suffixes). 
  if du -b /dev/null > /dev/null 2>&1; then
    local arg=-sbh;
  else
    local arg=-sh;
  fi
  if [[ -n "$@" ]]; then
    du $arg -- "$@" | sort -hr;
  else
    du $arg .[^.]* ./* | sort -hr;
  fi;
}



# `start` with no arguments opens the current directory, otherwise opens the given location
function start() {
  if [ $# -eq 0 ]; then
    wstart .;
  else
    wstart "$@";
  fi;
}


# Clean up Linux system to keep it running smoothly
apt-cleanup() {
    # Removes all package files that can be downloaded from the repositories and cached locally 
    # in the system's package cache. This will free up disk space and remove packages that are
    # no longer needed.
    sudo apt-get clean
    # Removes only the package files that have been cached for a period of time and are 
    # no longer needed.
    sudo apt-get autoclean
    # Removes any packages that were automatically installed as dependencies of other packages, 
    # but are no longer needed by any installed package. This can help to free up disk space 
    # and remove clutter from the system.
    sudo apt-get autoremove
}


brew-cleanup() {
  # Update Homebrew formulae and Homebrew itself
  brew update
  # Remove outdated versions of installed formulae
  brew cleanup -s
  # Remove any older versions of installed formulae
  brew autoremove --force
  # Remove all downloaded source files, and clear out the Homebrew cache
  brew cleanup -s --prune=all --verbose
}


# Weather
weather1() {
    curl -s "https://wttr.in/${1:-Singapore}?m2F"
}

weather2() {
    curl -s "https://wttr.in/${1:-Singapore}?m2F&format=v2"
}


# Report a list of my dotfiles in $HOME
function repdfile {
  for dotfile in $HOME/.*
  do
    # Skip special directories and files that are not regular files
    if [[ "$dotfile" == "$HOME/." || "$dotfile" == "$HOME/.." || ! -f "$dotfile" ]]; then
      continue
    fi
    
    echo "$(basename $dotfile)"
  done
}